body {
    background-color: #eee;
    text-align: center;
    font-family: 'Bitter', serif;
    color: #333;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* --------- Game layout */

.game-area {
    background-color: rgba(38, 40, 49, 0.253);
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.score-area {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    overflow: hidden;
}

#player {
    background-color: white;
    float: left;
    width: 40%;
}

#computer {
    background-color: white;
    float: right;
    width: 40%;
}

.btn {
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    background-color: rgb(9, 255, 0);
    color: #333;
}