body {
    background-color: #eee;
    text-align: center;
    font-family: 'Bitter', serif;
    color: #333;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* --------- Game layout */

.game-area {
    background-color: blue
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.btn {
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    background-color: rgb(9, 255, 0);
    color: #333;
}